<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dsadhotra.AndroidVersions">
    <uses-sdk tools:overrideLibrary="com.google.android.gms"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cupcake"/>
        <activity android:name=".Donut"/>
        <activity android:name=".Eclair"/>
        <activity android:name=".Froyo"/>
        <activity android:name=".GingerBread"/>
        <activity android:name=".HoneyComb"/>
        <activity android:name=".IceCreamSandwich"/>
        <activity android:name=".JellyBean"/>
        <activity android:name=".Kitkat"/>
        <activity android:name=".Lollipop"/>
        <activity android:name=".Marshmallow"/>
        <activity android:name=".Nutella"/>
    </application>

</manifest>